/**
Sample css code
*/
/* Set height to 100% for body and html to enable the background image to cover the whole page: */
body,
html {
  height: 100%;
}

/*Set background image*/
.container {
    background-image: url("/img/ai.jpg");
    height: 100%;
    background-position: initial;
    background-size: 100%;
}

.popup {
    position: relative;
    display:contents
}

.popup .popuptext {
    visibility: hidden;
    background-color: black;
    color:white;

    }
    .popup .show {
        visibility: visible;
        -webkit-animation: fadeIn;
        animation: fadeIn;
    }
@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
/* Position text in the left */
.container {
  position: page;
  color: white;
  top: 70%;
  left: 39%;
  text-align: left;
  font-size: 25px;
}

/*Set circle in unordered list*/
.middle ul {
  list-style-type: circle;
}

/*Set text inside li tag to left*/
.middle ul li {
  text-align: left !important;
}

/*Set text color for a tag inside middle class and ul>li element*/
.middle ul li a {
  color: white;
}

/*Change text color and decoration for a tags inside middle class and ul>li element*/
.middle ul li a:hover {
  color: blue;
  text-decoration: none;
}
/* font class of style*/
.fontClass {
    font-family: 'Times New Roman', Times, serif
}
.button {
    display: inline-block;
    text-decoration: none;
    color: dimgray;
}

.collapsible {
    background-color: dimgray;
    color: black;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}

    .active, .collapsible:hover {
        background-color: dimgray;
    }

.content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: dimgray;
    color: white;
}
.fa {
    padding: 10px;
    font-size: 10px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px,2px;
}

    .fa:hover {
        opacity: 0.7;
    }

.fa-github {
    background: gray;
    color: white;
}

